<!DOCTYPE html>
<html class=" desktop landscape" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="https://livedemo00.template-help.com/wt_58784/images/favicon.ico" type="image/x-icon">
    <title>MySoulMate</title>
    <!-- Bootstrap -->
    <link href="{{ asset('FO_assets/FAQ_files/bootstrap.css') }}" rel="stylesheet">
    <!-- Links -->
    <!--JS-->
    <script type="text/javascript" async="" src="{{ asset('FO_assets/FAQ_files/ec.js') }}"></script>
    <script type="text/javascript" async="" src="{{ asset('FO_assets/FAQ_files/analytics.js') }}"></script>
    <script async="" src="{{ asset('FO_assets/FAQ_files/gtm.js') }}"></script>
    <script src="{{ asset('FO_assets/FAQ_files/jquery.js') }}"></script>
    <script src="{{ asset('FO_assets/FAQ_files/jquery-migrate-1.js') }}"></script>

    <script src="{{ asset('FO_assets/FAQ_files/device.js') }}"></script>
    <style data-olark="true" type="text/css">.olark-key, #hbl_code, #olark-data {
            display: none !important;
        }</style>
    <style data-olark="true" type="text/css">@media print {
            .habla_beta_container_do_not_rely_on_div_classes_or_names {
                display: none !important
            }
        }</style>
    <link data-olark="true" rel="stylesheet" href="{{ asset('FO_assets/FAQ_files/theme.css') }}" type="text/css">
    {% block css %}{% endblock %}
</head>
<body>
<div style="display: none;" id="olark">
    <olark>
        <iframe id="olark-loader" frameborder="0"></iframe>
    </olark>
</div>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div id="stuck_container" class="stuck_container">
            <div class="container container-wide">
                <div class="navbar-brand">
                    <a href="#">
                        <img class="img-wide" src={{ asset('FO_assets/Home_files/logo.png') }} alt="">
                    </a>
                </div>
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header center-xs">
                    </div>

                    <div class="navbar-nav sf-menu navbar-right sf-js-enabled sf-arrows" data-type="navbar">

                        <!--========================================================
                                               table menu
                     =========================================================-->

                        <table width="320">
                            <tr>
                                <td>
                                    <a href=""><img class="img-responsive"
                                                    src="{{ asset('FO_assets/assets_FO/colore_accueil.png') }} " alt=""></a>

                                </td>
                                <td>
                                    <a href=""><img class="img-responsive"
                                                    src=" {{ asset('FO_assets/assets_FO/colore_fil_actualites.png') }}"
                                                    alt=""></a>
                                </td>
                                <td>
                                    <a href=""> <img class="img-responsive"
                                                     src="{{ asset('FO_assets/assets_FO/colore_parametres.png') }}"
                                                     alt=""></a>
                                </td>
                                <td>
                                    <a href={{ path('profile_index') }}> <img class="img-responsive"
                                                                              src="{{ asset('FO_assets/assets_FO/colore_compte.png') }}"
                                                                              alt=""></a>
                                </td>


                            </tr>
                            <tr>

                                <td>
                                    <a href=""><img class="img-responsive"
                                                    src="{{ asset('FO_assets/assets_FO/colore_matching.png') }}" alt=""></a>
                                </td>
                                <td>
                                    <a href=""><img class="img-responsive"
                                                    src="{{ asset('FO_assets/assets_FO/colore_plans.png') }}"
                                                    alt=""></a>
                                </td>
                                <td>
                                    <a href=""><img class="img-responsive"
                                                    src="{{ asset('FO_assets/assets_FO/colore_relation.png') }}" alt=""></a>
                                </td>
                                <td>
                                    <a href=""><img class="img-responsive"
                                                    src="{{ asset('FO_assets/assets_FO/colore_evenements.png') }}"
                                                    alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href={{ path('actualites_index') }}> <img class="img-responsive"
                                                                              src="{{ asset('FO_assets/assets_FO/colore_compte.png') }}"
                                                                              alt=""></a>
                                </td>
                                <td>
                                    <a href={{ path('fos_user_security_logout') }}> <img class="img-responsive"
                                                                              src="{{ asset('FO_assets/assets_FO/colore_compte.png') }}"
                                                                              alt=""></a>
                                </td>
                            </tr>
                        </table>
                        <!--========================================================
                                                 fin table menu
                        =========================================================-->

                    </div>

                    <div class="trig">
                        <p>Menu</p>
                        <span></span>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="text-center">
        <h1>aaa</h1>

        <!-- Dating Club Frequently -->
        <section class="well-10 text-left center-xs">
            <div class="container container-wide">
                <!--
                <h3>Dating Club Frequently <br>
                    Asked Questions</h3>-->


                <div class="row flow-offset-1">
                    <div class="col-sm-6">

                        <article class="post">

                            <h5 class="small text-primary">
                                <!--Stay in control>-->
                            </h5>

                            <!-- <p>It is our top priority to ensure that you have a safe and successful experience on Dating
                                 Club. We strongly recommend that you stay within the site to build up relationships over
                                 time, rather than giving out your phone number, personal email or instant messenger
                                 address to matches that interest you straight away. Remember that with Dating Club you
                                 are fully in control of your search for love and can choose to take dating at your own
                                 pace.</p>-->
                        </article>

                    </div>
                    <div class="col-sm-6">

                        <article class="post">
                            <h5 class="small text-primary">
                                <!-- Want to know more about online dating-->
                            </h5>

                            <!-- <p>We offer a great environment that gives you control over your online dating experience,
                                 allowing you to progress at your own pace in order to establish a healthy relationship.
                                 Each year, thousands of people join our online dating community and find love right here
                                 on Club, and you can too.</p>-->
                        </article>
                        <article class="post">
                            <h5 class="small text-primary">
                                <!--  Keep it real-->
                            </h5>

                            <!-- <p>With online dating you get what you give. Honesty and communication have often been
                                 viewed as the cornerstones of a happy relationship, so by being honest about yourself
                                 and what you’re looking for in a partner from the start, you’ll have a better chance of
                                 meeting someone who’s right for you. Our research shows that members with photographs
                                 receive as many as seven times more responses to their profiles than those without</p>-->
                        </article>

                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock %}
        </section>
        <!-- END Dating Club Frequently-->

        <!-- Making your first date -->
        <section class="bg-secondary-variant-1 text-left center-lg">

        </section>
        <!-- END Making your first date -->

    </main>

    <!--========================================================
                            FOOTER
    =========================================================-->
    <footer class="mod-1">
        <section>
            <div class="container container-wide center-sm">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="rights">
                            MySoulMate © <span id="copyright-year">2018</span> All rights reserved. <br>
                            <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
<!-- begin olark code -->
<script data-cfasync="false" type="text/javascript">/*<![CDATA[*/
    window.olark || (function (c) {
        var f = window, d = document, l = f.location.protocol == "https:" ? "https:" : "http:", z = c.name, r = "load";
        var nt = function () {
            f[z] = function () {
                (a.s = a.s || []).push(arguments)
            };
            var a = f[z]._ = {}, q = c.methods.length;
            while (q--) {
                (function (n) {
                    f[z][n] = function () {
                        f[z]("call", n, arguments)
                    }
                })(c.methods[q])
            }
            a.l = c.loader;
            a.i = nt;
            a.p = {
                0: +new Date
            };
            a.P = function (u) {
                a.p[u] = new Date - a.p[0]
            };

            function s() {
                a.P(r);
                f[z](r)
            }

            f.addEventListener ? f.addEventListener(r, s, false) : f.attachEvent("on" + r, s);
            var ld = function () {
                function p(hd) {
                    hd = "head";
                    return ["<", hd, "></", hd, "><", i, ' onl' + 'oad="var d=', g, ";d.getElementsByTagName('head')[0].", j, "(d.", h, "('script')).", k, "='", l, "//", a.l, "'", '"', "></", i, ">"].join("")
                }

                var i = "body", m = d[i];
                if (!m) {
                    return setTimeout(ld, 100)
                }
                a.P(1);
                var j = "appendChild", h = "createElement", k = "src", n = d[h]("div"), v = n[j](d[h](z)),
                        b = d[h]("iframe"), g = "document", e = "domain", o;
                n.style.display = "none";
                m.insertBefore(n, m.firstChild).id = z;
                b.frameBorder = "0";
                b.id = z + "-loader";
                if (/MSIE[ ]+6/.test(navigator.userAgent)) {
                    b.src = "javascript:false"
                }
                b.allowTransparency = "true";
                v[j](b);
                try {
                    b.contentWindow[g].open()
                } catch (w) {
                    c[e] = d[e];
                    o = "javascript:var d=" + g + ".open();d.domain='" + d.domain + "';";
                    b[k] = o + "void(0);"
                }
                try {
                    var t = b.contentWindow[g];
                    t.write(p());
                    t.close()
                } catch (x) {
                    b[k] = o + 'd.write("' + p().replace(/"/g, String.fromCharCode(92) + '"') + '");d.close();'
                }
                a.P(2)
            };
            ld()
        };
        nt()
    })({
        loader: "static.olark.com/jsclient/loader0.js",
        name: "olark",
        methods: ["configure", "extend", "declare", "identify"]
    });
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('7830-582-10-3714');
    /*]]>*/</script>
<noscript><a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">Questions?
        Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat
        software</a></noscript>
<!-- end olark code -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('FO_assets/FAQ_files/bootstrap.js') }}"></script>
<script src="{{ asset('FO_assets/FAQ_files/tm-scripts.js') }}"></script>
<script src="{{ asset('FO_assets/FAQ_files/jquery_003.js') }}"></script>
<script src="{{ asset('FO_assets/FAQ_files/jquery_005.js') }}"></script>
<iframe data-olark="true" aria-hidden="true"
        style="width: 0px; height: 0px; position: absolute; left: 0px; bottom: 0px; border: medium none;"></iframe>
<script src="{{ asset('FO_assets/FAQ_files/tmstickup.js') }}"></script>
<script src="{{ asset('FO_assets/FAQ_files/jquery_002.js') }}"></script>
<script src="{{ asset('FO_assets/FAQ_files/superfish.js') }}"></script>
<script src="{{ asset('FO_assets/FAQ_files/jquery_004.js') }}"></script>
<script src="{{ asset('FO_assets/FAQ_files/wow.js') }}"></script>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
<script src="{{ asset('FO_assets/FAQ_files/jquery_006.js') }}"></script>
<!-- </script> -->

<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P9FT69');</script><!-- End Google Tag Manager -->

<a href="#" id="toTop" class="toTop fa fa-angle-up" style="display: none;"></a>
<div class="rd-mobilemenu">
    <ul class="rd-mobilemenu_ul">
        <li><a href="https://livedemo00.template-help.com/wt_58784/">Home</a></li>
        <li><a href="https://livedemo00.template-help.com/wt_58784/index-1.html" class="rd-with-ul">Register<span
                        class="rd-submenu-toggle"></span></a>
            <ul class="rd-mobilemenu_submenu" style="display: none;">
                <li>
                    <a href="#">Most Popular</a>
                </li>
                <li>
                    <a href="#">Latest News</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Latest</a>
                        </li>
                        <li>
                            <a href="#">Archive</a>
                        </li>
                        <li>
                            <a href="https://livedemo00.template-help.com/wt_58784/404.html">404</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Company Info</a>
                </li>
            </ul>
        </li>
        <li><a href="https://livedemo00.template-help.com/wt_58784/index-2.html">Search</a></li>
        <li class="active"><a href="https://livedemo00.template-help.com/wt_58784/index-3.html">FAQ</a></li>
        <li><a href="https://livedemo00.template-help.com/wt_58784/index-4.html">Contacts</a></li>
    </ul>
</div>
<div class="rd-mobilepanel">
    <button class="rd-mobilepanel_toggle"><span></span></button>
    <h2 class="rd-mobilepanel_title">FAQ</h2></div>

</body><!-- Google Tag Manager --></html>