{{ form_start(form, {'action': path('ajouter')}) }}

<div class="form-group">
    <label>Corpulence</label>
    {{ form_widget(form.corpulence,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Pilosite</label>
    {{ form_widget(form.pilosite,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Origine</label>
    {{ form_widget(form.origine,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Profession</label>
    {{ form_widget(form.profession,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Alcool</label>
    {{ form_widget(form.alcool,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Tabac</label>
    {{ form_widget(form.tabac,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Taille</label>
    {{ form_widget(form.taille,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Cheuveux</label>
    {{ form_widget(form.cheveux,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Yeux</label>
    {{ form_widget(form.yeux,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Caractère</label>
    {{ form_widget(form.caractere,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Statut</label>
    {{ form_widget(form.statut,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <label>Cuisine</label>
    {{ form_widget(form.cuisine,{'attr':{'class':'form-control','placeholder':"corpulence"}}) }}
</div>
<div class="form-group">
    <input type="submit" class="btn btn-success" value="Ajouter">
</div>

{{ form_end(form) }}
