{% extends "Layouts/Layout_BO.html.twig" %}
{% block content %}
    <head>
        <h2>Les évènements</h2>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            tr, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}
        </style>
    </head>
<div style="overflow-x:auto;">
    <table border="1">
        <tr>
            <td>id</td><td>nombre de participants</td><td>type</td><td>durée / heure(s)</td><td>date</td><td>heure</td><td>organisateur</td><td>plan</td><td>description</td><td>nombre maximum</td>
        </tr>
        {% for i in m %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.nomEvt }}</td>
                <td>{{ i.typeEvt }}</td>
                <td>{{ i.dureeEvt }}</td>
                <td>{{ i.dateEvt|date("d/m/Y") }}</td>
                <td>{{ i.heure }}</td>
                <td>{{ i.organisateurEvt.id }}</td>
                <td>{{ i.planEvt.type }}</td>
                <td>{{ i.descriptionEvt }}</td>
                <td>{{ i.nbMax }}</td>
                <td><a href="{{ path('_modifier',{ 'id':i.id}) }}">modifier</a></td>
                <td><a href="{{ path('_delete',{ 'id':i.id}) }}">supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
