{% extends "Layouts/Layout_FO.html.twig" %}
{% block content %}
    <br>
    <br>
    <br>
    <br><br><br><br><br><br><br><br>
    <h2>Les évènements</h2>

    <input type="text" class="form-control" placeholder="rechercher" id="clubRechrche" name="clubRechrche" style="width: 400px">
<div id="t">
    <table border="1" align="center">
        <tr>
            <td>nom</td><td>type</td><td>durée / heure(s)</td><td>date</td><td>à quelle heure ?</td><td>organisateur</td><td>Emplacement</td><td>description</td><td>nombre maximum d'invités</td>
        </tr>
        {% for i in m %}
            <tr>
                <td>{{ i.nomEvt }}</td>
                <td>{{ i.typeEvt }}</td>
                <td>{{ i.dureeEvt }}</td>
                <td>{{ i.dateEvt|date }}</td>
                <td>{{ i.heure }}</td>
                <td>{{ i.organisateurEvt.username }}</td>
                <td>{{ i.planEvt.type }}</td>
                <td>{{ i.descriptionEvt }}</td>
                <td>{{ i.nbMax }}</td>
                <td><a href="{{ path('FO _modifier',{ 'id':i.id}) }}">modifier</a></td>
                <td><a target="_blank" href="{{ path('FO_QR',{ 'id':i.nomEvt }) }}">nob invit</a></td>
                <td><input type="checkbox" value="" name="participe">participer</td>
            </tr>
        {% endfor %}
    </table>
</div>
    <script src="{{ asset('front/jquery-3.2.1.min.js') }}"></script>
    <script>
        $('#clubRechrche').keyup(function () {
                var input=$('#clubRechrche').val();
                var afficher_url = "{{ path('club_afficher',{'id':'alias'}) }}" ;
                    {%  set alias='alias' %}
                var pathh ="{{ path('club_rechercher')}}";




                $.ajax({url : pathh,
                    type:'post',
                    data :{'clubNom':input},
                    dataType : 'json',
                    success : function (data) {
                        $('#t').empty();
                        $.each(data,function (i,e) {
                            if(e.category==null)e.category="autre";
                            if(e.description==null)e.description="";
                            console.log(data);
                            afficher_url = afficher_url.replace('alias',e.id);
                            image = image.replace('alias',e.Photo);
                            $('#t').append(
                                ' <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">'+
                                '<div class="recipe-box2">'+
                                '<ul class="recipe-box2-social">'+
                                '<li><a href="'+afficher_url+
                                '"><i class="fa fa-link" aria-hidden="true"></i></a></li>'+
                                '</ul>'+
                                '<div class="recipe-box2-img-holder">'+
                                '<a href="'+afficher_url
                                +'"><img src="'+
                                image+
                                '" alt="Recipe" class="img-responsive"></a>'
                                + '</div>'
                                +'<div class="recipe-box2-bottom-content-holder">'
                                + '<h3><a href="'+afficher_url+'">'+e.username+'</a></h3>'

                                +'<p>'+e.description+'</p>'
                                +'<ul>'
                                +'<li><a href="'+afficher_url+'">' +
                                '<i class="fa fa-users" aria-hidden="true"></i> Categorie(s)'+ ':'+'<span>'

                                +e.category+
                                '</span></a></li></ul> </div></div> </div>'


                            );
                        })
                    }
                })
            }
        );
    </script>

{% endblock %}
