{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publicites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicite in publicites %}
            <tr>
                <td><a href="{{ path('Admin_publicite_show', { 'id': publicite.id }) }}">{{ publicite.id }}</a></td>
                <td>{{ publicite.title }}</td>
                <td>{{ publicite.photo }}</td>
                <td>{{ publicite.description }}</td>
                <td>{% if publicite.dateDebut %}{{ publicite.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if publicite.dateFin %}{{ publicite.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('Admin_publicite_show', { 'id': publicite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('Admin_publicite_edit', { 'id': publicite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Admin_publicite_new') }}">Create a new publicite</a>
        </li>
    </ul>
{% endblock %}
