{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publicite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publicite.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ publicite.title }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ publicite.photo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publicite.description }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if publicite.dateDebut %}{{ publicite.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if publicite.dateFin %}{{ publicite.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Admin_publicite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('Admin_publicite_edit', { 'id': publicite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
