{% extends 'Layouts/Layout_BO.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Affichage des packagings</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">

                            <h4><a href="{{ path('BO_ajouterpack') }}">Nouveau packaging</a></h4>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <br/>

    {{ form_start(f) }}
    <table>
        <tr>
            <td>Nom:</td>
            <td>{{ form_widget(f.nom)}}</td>
        </tr>
        <tr>
            <td>Contenu:</td>
            <td>{{ form_widget(f.contenu)}} % de compatibilité</td>
        </tr>
        <tr>
            <td>Prix:</td>
            <td>{{ form_widget(f.prix) }} dt</td>
        </tr>
        <tr>
            <td>Durée:</td>
            <td>{{ form_widget(f.duree) }} jours</td>
        </tr>
    </table>
    {{ form_end(f) }}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}
