{% extends "Layouts/Layout_FO.html.twig" %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> <br> <br> <br>  <br>


    <center><h5 class="titrerose"><a href='{{ path('FO_voirpackagings') }}'> Voir plus de compatibilité </a><font
                    color="white"> __________________________________________________________________ </font> <a
                    href='{{ path('FO_ajouterpref') }}'>Ajouter mes préférences </a></center> </h5>

    <section class="well-1 well-1--inset-1">
        <div class="container container-wide">
            <h3>Retrouvez l'amour de votre vie!</h3>


            <div class="row flow-offset-1">

                {% for i in m %}
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <img src=" {{ asset(i.getProfil().getPhoto()) }}" class="img-circle img-wide" alt="">
                        <h5 class="small text-primary"> {{ i.getUsername() }} </h5>

                        <p class="offset-0">
                            <small class="text-muted"><h5 class="small text-primary"> {{ i.getMatchtot() }} % </h5> {{ i.getAdresse().getVille }} </small>
                            <!-- i.getDateNaissane()|date('y-m-d').diff('now').format('%y') -->
                        </p>


                        <a href="{{ path('FO_inviter', { 'id': i.getId() }) }}" onclick="return confirm('Invitation envoyée')" class="btn btn-xs btn-default">Inviter</a>

                    </div>

                {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}