{% extends 'Layouts/Layout_BO.html.twig' %}
{% block content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Position Publicite</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Modifier une Position</h3>
                        <h4><a href="{{ path('Admin_Publicite_Position_index') }}">Retour a la Liste</a></h4>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal form-label-left'}}) }}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Position</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.pos, { 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Prix</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.price, { 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Prix d'un seul
                                Click</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.Clickprice, { 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-success" type="submit">Modifier</button>
                            <button class="btn btn-primary" type="reset">Annuler</button>
                            {{ form_end(edit_form) }}
                            <button class="btn btn-danger" type="button" onclick="if(confirm('Voulez vous vraiment \nSupprimer Cette Position?'))document.getElementsByName('form')[0].submit()">Supprimer</button>
                        </div>
                            {{ form_start(delete_form) }}
                            {{ form_end(delete_form) }}


                        {% endblock %}



